<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Chart Generator</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"	crossorigin="anonymous"></script>
	<script type="text/javascript" th:src="@{/js/actions.js}"></script>
</head>
<body>
	<div class="container mt-4">
		<h1>Chart Generator</h1>
		
		<br>
		<!--  		<form method="post" action="/processForm">-->
		<form action="#" th:action="@{/generateChart}" method="POST">
			<div class="form-group">
				<label for="chartType">Chart Type:</label> <select
					class="form-control" id="chartType">
					<option value="bar">Bar Chart</option>
					<option value="line">Line Chart</option>
					<option value="scatter">Scatter Chart</option>
				</select>
			</div>
			<div id="pairs">
				<div class="form-row mb-2">
					<div class="col">
						<select class="form-control" name="country">
							<option value="" selected hidden>Country</option>
							<option th:each="country : ${countries}" th:value="${country}"
								th:text="${country}"></option>
						</select>
					</div>
					<div class="col">
						<select class="form-control" name="indicator" >
							 <option value="" selected hidden>Indicator</option>
							<option th:each="indicator : ${indicators}"
								th:value="${indicator}" th:text="${indicator}"></option>
						</select>
					</div>
					<div class="col-auto">
						<button type="button" class="btn btn-danger removePair">&times;</button>
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<button type="button" class="btn btn-primary addPair">Add Pair</button>
			</div>

			<label>Filter:</label>			
			<div class="form-row mb-2">
				<div class="col">
					<div class="form-group">
						<input type="number" class="form-control" name="number1" placeholder="Min year">
					</div>						
				</div>
				<div class="col">
					<div class="form-group">
						<input type="number" class="form-control" name="number2" placeholder="Max year">
					</div>			
				</div>
			</div>

			<label for="selectChoice">Aggregate:</label>
			<select class="form-control" id="selectChoice" name="selectChoice">
		        <option value=-1>No aggregation</option>
		        <option value=5>5 years</option>
		        <option value=10>10 years</option>
		    </select>
		    
		    <br>

			<div class="form-group">
				<button type="submit" class="btn btn-success">Generate Chart</button>
			</div>
		</form>
	</div>
	<script th:inline="javascript">
	    var indicatorsList = /*[[${indicators}]]*/ [];
		var countriesList = /*[[${countries}]]*/ [];
	    var countryIndicatorsMap = /*[[${countryIndicatorsMap}]]*/ '{}';
	    console.log(countryIndicatorsMap);
	</script>
</body>