<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            margin-top: 100px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <h1 class="display-4">Error: Data Not Found</h1>
                <p class="lead" th:text="${msg}"></p>
                <p class="lead">Country: <span class="font-weight-bold" th:text="${country}"></span></p>
                <p class="lead">Indicator: <span class="font-weight-bold" th:text="${indicator}"></span></p>
            </div>
        </div>
    </div>
</body>
</html>
