<!DOCTYPE html>
<html>
    <head>
        <title>Scatter Chart with D3.js</title>
        <script src="https://d3js.org/d3.v6.min.js"></script>
        <style>
            .dot {
                fill: steelblue;
            }

            svg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        </style>
    </head>
    <body>
        <h1>Scatter Chart</h1>

        <div id="chart-container"></div>

        <input type="hidden" id="vrblId" name="vrblName" value="placeholder" th:value="${dataGiven}" />

        <a th:href="@{/chartForm}">Back to chart form</a>

        <script th:inline="javascript">
            var indicatorsList = /*[[${indicators}]]*/ [];
            var countriesList = /*[[${countries}]]*/ [];
            indicatorsList = removeDuplicates(indicatorsList);
            countriesList = removeDuplicates(countriesList);
            indicatorsList.sort();
            countriesList.sort();

            var legendLabels = countriesList;

            const passedDataC = document.getElementById("vrblId").value;

            var parsedData = JSON.parse(passedDataC);

            data = parsedData;
            console.log("data:", data);

            var bottom = 50;
            // Set up the dimensions and margins for the chart
            const margin = { top: 50, right: 50, bottom: 150, left: 100 };
            const width = 700;
            const height = 450;
            const innerWidth = width - margin.left - margin.right;
            const innerHeight = height - margin.top - margin.bottom;

            var colorScale = d3.scaleOrdinal(d3.schemeCategory10);

            // Create the SVG element
            var svg = d3
                .select("body")
                .append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            // Create scales for x and y axes
            var xScale = d3
                .scaleLinear()
                .range([0, width])
                .domain([
                    0,
                    d3.max(data, function (subArray) {
                        return d3.max(subArray, function (d) {
                            return d.x;
                        });
                    }),
                ]);

            var yScale = d3
                .scaleLinear()
                .range([height, 0])
                .domain([
                    0,
                    d3.max(data, function (subArray) {
                        return d3.max(subArray, function (d) {
                            return d.y;
                        });
                    }),
                ]);

            data.forEach(function (subArray, index) {
                svg.selectAll(".circle-" + data.indexOf(subArray))
                    .data(subArray)
                    .enter()
                    .append("circle")
                    .attr("class", "circle-" + data.indexOf(subArray))
                    .attr("cx", function (d) {
                        return xScale(d.x);
                    })
                    .attr("cy", function (d) {
                        return yScale(d.y);
                    })
                    .attr("r", 5)
                    .style("fill", function () {
                        return colorScale(data.indexOf(subArray));
                    });
            });

            // Create x and y axes
            svg.append("g")
                .attr("transform", "translate(0," + height + ")")
                .call(d3.axisBottom(xScale));

            svg.append("g").call(d3.axisLeft(yScale));

            // Add x axis label
            svg.append("text")
                .attr("class", "axis-label")
                .attr("transform", `translate(${margin.left + innerWidth / 2}, ${height - bottom + 100})`)
                .style("text-anchor", "middle")
                .text(indicatorsList[0]);

            // Add y axis label
            svg.append("text")
                .attr("text-anchor", "end")
                .attr("class", "axis-label")
                .attr("transform", "rotate(-90)")
                .attr("y", -margin.left + 10)
                .attr("x", -margin.top + 50)
                .text(indicatorsList[1]);

            // Add chart title
            svg.append("text")
                .attr("x", width / 2)
                .attr("y", margin.top / 2)
                .attr("text-anchor", "middle")
                .text("Scatter Chart");

            // Create legend
            const legend = svg
                .append("g")
                .attr("class", "legend")
                .attr("transform", `translate(${margin.left + innerWidth / 20}, ${height - bottom + 100})`);

            // Add legend items
            const legendItems = legend
                .selectAll(".legend-item")
                .data(legendLabels)
                .enter()
                .append("g")
                .attr("class", "legend-item")
                .attr("transform", (d, i) => `translate(0, ${i * 20 + 15})`);

            // Add legend color rectangles
            legendItems
                .append("rect")
                .attr("width", 10)
                .attr("height", 10)
                .attr("fill", (_, i) => d3.schemeCategory10[i]);

            // Add legend text labels
            legendItems
                .append("text")
                .attr("x", 15)
                .attr("y", 6)
                .attr("dy", "0.35em")
                .text((_, i) => legendLabels[i]);

            function removeDuplicates(arr) {
                return arr.filter((value, index) => arr.indexOf(value) === index);
            }
        </script>
    </body>
</html>
